<nav class="navbar navbar-expand-lg navbar-absolute">
  <div class="container">
    <div class="navbar-translate"><a href="javascript:;" class="navbar-brand"> Creative Tim </a><button
        aria-controls="navbarSupportedContent" aria-label="Toggle navigation" id="example-header-6" type="button"
        class="navbar-toggler" aria-expanded="true"><span class="navbar-toggler-icon"></span></button></div>
    <div id="example-header-6" class="navbar-collapse collapse in show" ng-reflect-is-animated="true"
      ng-reflect-collapse="false" aria-hidden="false" style="display: block;">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> Argon <span> PRO </span></a></div>
          <div class="col-6 collapse-close text-right"><button aria-controls="navigation-index"
              aria-label="Toggle navigation" id="example-header-6" type="button" class="navbar-toggler"
              aria-expanded="true"><span></span><span></span></button></div>
        </div>
      </div>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a href="javascript:;" class="nav-link"> Home </a></li>
        <li class="nav-item"><a href="javascript:;" class="nav-link"> About Us </a></li>
        <li class="nav-item"><a href="javascript:;" class="nav-link"> Products </a></li>
        <li class="nav-item"><a href="javascript:;" class="nav-link"> Contact Us </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a href="https://twitter.com/CreativeTim" class="nav-link"><i
              class="fab fa-twitter"></i></a></li>
        <li class="nav-item"><a href="https://www.facebook.com/CreativeTim" class="nav-link"><i
              class="fab fa-facebook-square"></i></a></li>
        <li class="nav-item"><a href="https://www.instagram.com/CreativeTimOfficial" class="nav-link"><i
              class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
