<nav class="navbar navbar-expand-lg navbar-absolute headroom" id="navbar-main">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand navbark-dark" [routerLink]="['/index']"> Creative Tim </a>
      <button aria-controls="navbarSupportedContent" aria-label="Toggle navigation" class="navbar-toggler"
        [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navbar_global" type="button">
        <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
      </button>
    </div>
    <div class="navbar-collapse collaspse" [isAnimated]="true" [collapse]="isCollapsed" id="navbar_global">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a> Argon <span> PRO </span> </a>
          </div>
          <div class="col-6 collapse-close text-right">
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navbar_global"
              type="button">
              <span> </span> <span> </span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#beranda"> Beranda </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#layanan"> Layanan </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tentangkami"> Tentang Kami </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Kontak Kami </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
