<div class="section py-5 container-fluid bg-secondary my-3">
        <div class="container-fluid">
            <div class="row d-flex align-items-center">
                <div class="col-lg-4 col-md-4">
                    <h3 class="display-3 text-center">Our Costumer</h3>
                </div>
                <div class="col-lg-8 col-md-8 ">
                    <div class="slider">
                        <div class="slide-track">
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                            <div class="col slide justify-content-center mx-1 d-flex align-items-center">
                                <img src="https://verifikasi.ptasm.co.id/assets/images/azzam/logo.png" height="100" width="250" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>