<div class="cd-section py-4" id="pricing">
  <div class="pricing-1" id="pricing-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mb-3">
              <h3 class="display-3">Pick the best plan for you</h3>
              <p class="lead">
                You have Free Unlimited Updates and Premium Support on each
                package.
              </p>
              <div class="section-space"></div>
            </div>
          </div>
          <div class="space-100"></div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-pricing bg-gradient-info border-0 text-center mb-4">
            <div class="card-header bg-transparent">
              <h6 class="text-uppercase ls-1 text-white py-3 mb-0">
                Starter
              </h6>
            </div>
            <div class="card-body">
              <div class="display-2 text-white">$22</div>
              <span class="text-white"> per month </span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-info">
                        <i class="ni ni-book-bookmark"> </i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">
                        Complete documentation
                      </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-info">
                        <i class="ni ni-diamond"> </i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">
                        Working materials in Sketch
                      </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-info">
                        <i class="ni ni-chart-pie-35"> </i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">
                        2GB cloud storage
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
              <button class="btn btn-link text-white mb-3" type="button">
                Get Started
              </button>
            </div>
            <div class="card-footer bg-transparent">
              <a class="text-white" href="#!"> Request a demo </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-pricing bg-gradient-warning border-0 text-center mb-4">
            <div class="card-header bg-transparent">
              <h6 class="text-uppercase ls-1 text-white py-3 mb-0">
                PRO
              </h6>
            </div>
            <div class="card-body">
              <div class="display-2 text-white">$45</div>
              <span class="text-white"> per month </span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-warning">
                        <i class="ni ni-book-bookmark"> </i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">
                        Complete documentation
                      </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-warning">
                        <i class="ni ni-diamond"> </i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">
                        Working materials in Sketch
                      </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-warning">
                        <i class="ni ni-chart-pie-35"> </i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">
                        200GB cloud storage
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
              <button class="btn btn-link text-white mb-3" type="button">
                Get Started
              </button>
            </div>
            <div class="card-footer bg-transparent">
              <a class="text-white" href="#!"> Request a demo </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-pricing bg-gradient-success border-0 text-center mb-4">
            <div class="card-header bg-transparent">
              <h6 class="text-uppercase ls-1 text-white py-3 mb-0">
                Enterprise
              </h6>
            </div>
            <div class="card-body">
              <div class="display-2 text-white">$68</div>
              <span class="text-white"> per month </span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-success">
                        <i class="ni ni-book-bookmark"> </i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">
                        Complete documentation
                      </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-success">
                        <i class="ni ni-diamond"> </i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">
                        Working materials in Sketch
                      </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-success">
                        <i class="ni ni-chart-pie-35"> </i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">
                        Unlimited cloud storage
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
              <button class="btn btn-link text-white mb-3" type="button">
                Get Started
              </button>
            </div>
            <div class="card-footer bg-transparent">
              <a class="text-white" href="#!"> Request a demo </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
